@charset "UTF-8";

@font-face {
  font-family: "gotham-ss-light";
  src: url("../fonts/GothamSSm-Light.woff") format("woff"); }

@font-face {
  font-family: "gotham-ss-book";
  src: url("../fonts/GothamSSm-Book.woff") format("woff"); }

@font-face {
  font-family: "gotham-ss-medium";
  src: url("../fonts/GothamSSm-Medium.woff") format("woff"); }

@font-face {
  font-family: "gotham-ss-bold";
  src: url("../fonts/GothamSSm-Bold.woff") format("woff"); }


h1, h2, h3, h4, h5, h6, strong {
  font-family: "gotham-ss-medium", Arial, sans-serif;
  font-weight: normal; }

h1 {
  font-size: 18pt;
  text-align: center;
}

h2 {
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 32pt;
  font-weight: bold;
}

html {
  box-sizing: border-box;
  height: 100%;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.title {
  padding: 20 200 20 200;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.flex-container{
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellowgreen;
  margin: 20px;
  padding: 20px;
}

.row-header {
  margin: auto;
  text-align: center;
}

.flex-child:first-child {
  margin-right: 20px;
}

.rTable { display: table; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead {
  display: table-cell;
  padding: 3px 10px;
}
